html, body {
    height: 100%; /* Ensures the body takes the full height of the viewport */
    margin: 0; /* Removes default margin */
    display: flex; /* Enables flexbox layout */
    flex-direction: column; /* Makes the content flow vertically */
}

body {
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 1000; /* Ensure the nav is always on top */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Use flexbox to align items horizontally */
}

nav ul li {
    margin-right: 20px; /* Add some spacing between the items */
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: transparent;
}

nav ul li a:hover {
    background-color: gray;
}

.navbar-right {
    margin-right: 50px; /* Adjust the right margin as needed */
}

main {
    flex: 1; /* This makes the main content area flexible, so it grows and shrinks as needed */
    padding: 90px 20px;
    font-size: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
}
p {
    margin-bottom: 150px; /* Adjust the value as needed */
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    width: 100%;
}
